<%_ include partials/header.ejs _%>

<main class="cart-view">
	<%_ include partials/heading.ejs _%>
	<div class="inner-body container">
		<div class="items-container">

			<%_ var total = 0; _%>
			<%_ cart_items.forEach(item => { _%>
				<%_ products.forEach(product => { _%>
					<%_ product.variants.forEach(variant => { _%>
						<%_ if ( item.variantID == variant.id ) { _%>
							<%_ total += (parseFloat(variant.price) * item.quantity) _%>
							<div class="item" id="<%= variant.id %>">
								<a href="/products/p/<%= product.id %>">
									<div class="col-sm-3 item-img" style="background-size: cover; background-position: center; background-image: url('<%= product.image.src %>');"></div>
								</a>

								<div class="col-sm-6 item-details fill-height">
									<div class="inner-group" style="position: relative;">
										<div class="item-name row"><a href="/products/p/<%= product.id %>"><%= product.title %></a></div>
										<div class="item-sub-details row">
											<div class="item-size">Size: <%= variant.title %></div>
											<div class="item-price">£<span class="num-value"><%= variant.price %></span></div>
										</div>
									</div>
								</div>

								<div class="col-sm-3 item-options">
									<div class="col-sm-9 item-quantity fill-height">
										<div class="col-xs-4 fill-height symbols minus">
											<div class="symbol centreY">-</div>
										</div>
										<div class="col-xs-4 fill-height">
											<div class="number centreY"><%= item.quantity %></div>
										</div>
										<div class="col-xs-4 fill-height symbols plus">
											<div class="symbol centreY">+</div>
										</div>
									</div>

									<div class="col-sm-3 item-remove">
										<div class="remove-button remove-symbol centreY">
											<span class="dt-view" style="font-size: 2em">&times;</span>
											<span class="mb-view" style="letter-spacing: 5px">REMOVE</span>
										</div>
									</div>
								</div>
							</div>
						<%_ } _%>
					<%_ }); _%>
				<%_ }); _%>
			<%_ }); _%>

			<div class="total">Total: £<span class="num-value" style="font-size: 1.5em"><%= total.toFixed(2) %></span></div>
		</div>
	</div>
</main>

<%_ include partials/footer.ejs _%>