<%_ include partials/header.ejs _%>

<section class="products">
	<div class="heading">
		<div class="title"><%= headingTitle %></div>
	</div>
	<div class="category" id="tshirts">
		<div class="thumbs-container">

			<%_ if (products && products.length) { _%>
				<%_ let span = null; _%>
				<%_ products.forEach(row => { _%>
					<%_ span = span ? span : row.length <= 4 ? 4 : 12 / row.length; _%>
					<div class="row">
					<%_ row.forEach(product => { _%>
						<div class="thumb col-sm-<%= span %>" style="display: none">
							<a href="/products/p/<%= product.id %>">
								<div class="inner-thumb">
									<div class="img filter" style="background-image: url('<%= product.image.src %>');"></div>
									<div class="details">
										<div class="row product-name"><%= product.title %></div>
										<div class="row product-price">£<%= product.variants[0].price %></div>
									</div>
								</div>
							</a>
						</div>
					<%_ }) _%>
					</div>
				<%_ }) _%>
			<%_ } _%>

		</div>
	</div>
</section>

<%_ include partials/footer.ejs _%>