<%_ include partials/header.ejs _%>

<div id="imageView" class="modal fade" role="dialog">
	<div class="close-view" data-dismiss="modal" style="position: absolute; right: 0; padding: 15px;">
		<div class="hamburger hamburger--squeeze is-active">
			<span class="hamburger-box"><span class="hamburger-inner"></span></span>
		</div>
	</div>
	<div class="container" style="padding: 30px; height: 100%;">
		<div class="image" style="height: 100%; width: 100%; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
	</div>
</div>

<main>
	<%_ include partials/heading.ejs _%>
	<div class="inner-body container">
		<div class="col-sm-6 main-img">
			<div class="img" style="background-image: url('<%= product.image.src %>');">
				<div class="enlarge-img" data-toggle="modal" data-target="#imageView"><i class="fas fa-search"></i></div>
			</div>
		</div>
		<div class="col-sm-6 details">
			<h2 class="product-price">£<%= product.variants[0].price %></h2>
			<p class="product-description"><%- product.body_html %></p>
			<br>
			<form class="form-group" data-product-id="<%= product.id %>" style="max-width: 400px">
				<select class="form-control" id="size" name="size">
					<option value="">Select size</option>
					<%_ product.variants.forEach((variant, i) => { _%>
						<option value="<%= variant.id %>"><%= variant.title %></option>
					<%_ }); _%>
				</select>
				<br>
				<input class="form-control submit" type="submit" id="add_to_cart" value="ADD TO CART" style="font-weight: bold">
			</form>
			<p class="err-msg"></p>
		</div>
	</div>
</main>

<%_ include partials/footer.ejs _%>